<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">Inventario</a>
    </li>
    <li class="breadcrumb-item active">Productos</li>
</ol>
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-box"></i> Productos
    </div>
    <div class="card-body">
        <div class="table-responsive">
            Cantidad de elementos:
            <select (change)="selectChange($event)">
              <option [value]="5">5</option>
              <option [value]="10">10</option>
              <option [value]="15">15</option>
              <option [value]="20">20</option>
            </select>
            <hr>
            <table class="display table table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col" (click)="sort('id')">
                          Id <i *ngIf="campoActual === 'id' && orden != ''" [ngClass]="orden === 'asc' ? 'fa fa-arrow-up' : 'fa fa-arrow-down'"></i>
                        </th>
                        <th scope="col" (click)="sort('nombre')">
                          Nombre <i *ngIf="campoActual === 'nombre' && orden != ''" [ngClass]="orden === 'asc' ? 'fa fa-arrow-up' : 'fa fa-arrow-down'"></i>
                        </th>
                        <th scope="col" (click)="sort('precio')">
                          Precio <i *ngIf="campoActual === 'precio' && orden != ''" [ngClass]="orden === 'asc' ? 'fa fa-arrow-up' : 'fa fa-arrow-down'"></i>
                        </th>
                        <th scope="col" (click)="sort('stock')">
                          Stock <i *ngIf="campoActual === 'stock' && orden != ''" [ngClass]="orden === 'asc' ? 'fa fa-arrow-up' : 'fa fa-arrow-down'"></i>
                        </th>
                        <th scope="col" (click)="sort('categoria.nombre')">
                          Categoria <i *ngIf="campoActual === 'categoria.nombre' && orden != ''" [ngClass]="orden === 'asc' ? 'fa fa-arrow-up' : 'fa fa-arrow-down'"></i>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let producto of productos">
                        <td>{{producto.id}}</td>
                        <td>{{producto.nombre}}</td>
                        <td>{{producto.precio}}</td>
                        <td>{{producto.stock}}</td>
                        <td>{{producto.categoria.nombre}}</td>
                    </tr>
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="card-footer">
        <div class="row float-right">
            <pagination [totalItems]="totalElementos" [itemsPerPage]="elementosPorPagina" (pageChanged)="cambiarPagina($event)"></pagination>
        </div>
    </div>
</div>
