<div id="wrapper">
    <ul class="sidebar navbar-nav toggled">
        <li class="nav-item">
            <a class="nav-link" routerLink="/inicio" routerLinkActive="active">
                <i class="fas fa-fw fa-play"></i>
                <span>Inicio</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/productos" routerLinkActive="active">
                <i class="fas fa-fw fa-box"></i>
                <span>Productos</span></a>
        </li>
    </ul>
    <div id="content-wrapper">
        <div class="container-fluid">
            <app-contenido></app-contenido>
        </div>
    </div>
</div>
